@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");

.pageContainer {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    background: #f0e7e5;
    font-family: "Cousine", monospace;
}

.linkContainer {
    grid-column: 1/-1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #061623;
    color: #d2b7b1;
}

.codeLink {
    margin-right: 1rem;
}

.pageContainerTitle {
    grid-column: 2/-2;
    justify-self: center;
}

.showcaseContainer {
    grid-column: 2/-2;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 33%; */
}

.showcaseCard {
    flex: 1 1 30%;
    margin: 1rem 1rem 3rem 1rem;
    height: 450px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 12px;
    transition: all 250ms ease-in-out;
}

.showcaseCard:hover {
    border: 2px solid #0f3757;
    background: #d2b7b1;
}

.showcaseCardLink {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.showcaseCardTitle h2 {
    text-align: center;
}

.showcaseCardTitle {
    display: flex;
    justify-content: center;
}

.showcaseCardTitle h2 {
    transition: all 250ms ease-in-out;
}

.showcaseImageContainer {
    transition: all 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    border-radius: 30px;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper > span {
    width: 90% !important;
    transition: all 250ms ease-in-out;
    border-radius: 10px;
}

.showcaseImage {
    width: 90%;
    transition: all 250ms ease-in-out;
    border-radius: 10px;
}
.showcaseCard:hover .imageWrapper > span {
    width: 95% !important;
}

.showcaseCard:hover .showcaseCardTitle h2 {
    color: #0f3757;
}

.paginationContainer {
    grid-column: 2/-2;
}

.paginationContainer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.paginationContainer li {
    margin: 1rem;
    cursor: pointer;
    border-bottom: 2px solid #f0e7e5;
}

.paginationContainer li:hover {
    border-bottom: 2px solid #0f3757;
    color: #0f3757;
}
